body {
  text-align: center;
  background-image: url("Resources/background.jpeg");
  background-repeat: repeat;
}

#navbar {
  background-image: url("Resources/background.gif"); /* You need to select a background for this navbar, or this will look fairly odd */
  background-repeat: repeat-x;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#linav {
  float: left;
}

#anav {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#anav:hover {
  color: white;
}
.active {
  text-decoration: underline;
}

